@{
    ViewBag.Title = "Ban";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Бан</h2>
<text>Ваш аккаунт заблокирован, обратитесь в тех.поддержку a-zenit-a@rambler.ru </text><br />
@Html.ActionLink("Выйти", "LogOff", "Account")<br />