@{
    ViewBag.Title = "Ban";

}

<h2>Бан</h2>
<h3>
    <text>Ваш аккаунт заблокирован, обратитесь в тех.поддержку a-zenit-a@rambler.ru </text><br />
    @Html.ActionLink("Выйти", "LogOff", "Account", null, new { @class = "classForLinks" })<br />
</h3>